/.metadata/
logs/
**/logs/
*.log
*.env
python/.env
*.pyc

sts/SmartRoutePlanner/src/main/resources/application.properties
sts/SmartRoutePlanner/src/main/resources/application.properties
*.properties
/sts/SmartRoutePlanner/src/main/resources
